
<div class="row row-details">    
    <div class="stats col-md-offset-4 col-md-4">
		<p class="text-center">YOU ARE DEAAAAD</p>
    <div class="col-sm-4">
    <div class="col-sm-4">
    <div class="col-sm-4">
    <div class="col-sm-4">
    <div class="col-sm-4">
    <div class="col-sm-4">
    <img src="img/dead_explorer.png" align="center" class="img-rounded" alt="dead" width="200" height="320" />
  </div>    
</div>