<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>W & W</title>  
  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">  
  <link rel="stylesheet" type="text/css" href="css/console.css">
</head>
<body>  
  <p>YOU DEAAAAD</p>
</body>
</html>