<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>W & W</title>  
  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">  
  <link rel="stylesheet" type="text/css" href="css/console.css">
</head>
<body> 
	<div class="row row-details">    
    <div class="stats col-md-offset-4 col-md-4">
      <img src="img/dead_explorer.png" class="img-rounded" alt="dead" width="200" height="320" align="center"/>
  		<p class="bg-danger">YOU ARE DEAAAAD</p>
    </div>    
  </div>
</body>
</html>