<div class="row row-details">    
    <div class="stats col-md-offset-4 col-md-4">
    <img src="img/you_win.gif" align="center" class="img-rounded" alt="win" width="400" height="400" />
  </div>    
</div>